.action-bar-container {
  width: 100%;
  background-color: rgb(52, 52, 52);
  height: 729.5px;
  display: grid;
  grid-template-rows: 55px 45px;
  border-left: 2px solid burlywood;
}
.action-btn {
  background-color: rgb(38, 38, 38);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: auto;
}
.action-btn .three-bar {
  position: relative;
}
.three-bar .three-bar-dropdown {
  display: none;
}
.three-bar:hover .three-bar-dropdown {
  display: block;
  position: absolute;
  left: -100px;
  z-index: 100;
}
.action-btn button {
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
}
.result {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 600;
  background-color: white;
  border-right: 4px solid #003049;
  border-radius: 0 5px 5px 0;
}
.result .live-results {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
}
.live-results .live-video video {
  width: 30px;
  height: 35px;
  border: none;
}
.live-results .live-video {
  padding-top: 5px;
  padding-left: 20px;
}
.live-results .room-code {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 15px;
}
.room-code .p {
  color: #003049;
  font-family: sans-serif;
  font-weight: 400;
  color: #22223b;
}
.room-code span {
  font-family: sans-serif;
  font-weight: 600;
  color: #415a77;
}
.group-section {
  display: flex;
  align-items: center;
  margin-left: 10px;
  position: absolute;
  left: 280px;
}
.live-results .group-section img {
  width: 30px;
  height: 30px;
}
.group-section button {
  height: 30px;
  width: 90px;
  padding: 3px 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: sans-serif;
  color: rgb(4, 72, 111);
}
.result #cross {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  color: rgb(10, 10, 10);
  font-size: 16px;
}
.result p {
  padding-top: 17px;
  padding-left: 20px;
  color: rgb(21, 174, 7);
}
.result input {
  margin-left: 20px;
  padding-left: 10px;
  height: 30px;
  border-radius: 5px;
}
.result .create-input {
  border: 2px dashed blue;
}
.result .create-btn {
  background-color: transparent;
  border-radius: 50%;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 4px;
  border: none;
}
.result .create-btn:hover {
  border: 2px solid rgb(148, 146, 146);
  background-color: #dad9d9;
}
.result .join-button {
  padding: 1px 15px;
  border: 1px solid blue;
}
.chats {
  width: 100%;
  background-color: #003049;
  overflow-y: auto;
  color: white;
  display: flex;
  flex-direction: column;
}
.chats .chat-info {
  display: flex;
  width: 100%;
  gap: 50px;
  padding-left: 20px;
  padding-top: 10px;
}
